<br>
<h1>Clientes</h1>
<hr>
<router-outlet (activate)="showTable()" (deactivate)='hideTable()'></router-outlet>
<div *ngIf="!hideParent">
    <div class="row">
        <div class="col-md-12 text-left">
            <button type="button " class="btn btn-secondary  me-md-2" [routerLink]="['/mi-tienda']">Regresar</button>
            <button type="button" class="btn btn-outline-primary" name="button" routerLinkActive="active" [routerLink]="['agregar']">Agregar +</button>
        </div>
    </div>
    <hr>
    <div class=" row animated fadeIn fast">
        <div class="col-md-12">
            <div class="table-responsive ">
                <table class="table ">
                    <thead class="table-dark ">
                        <tr>
                            <th scope="col ">Nombre</th>
                            <th scope="col ">Apellidos</th>
                            <th scope="col ">Telefono</th>
                            <th scope="col ">Correo</th>
                            <th scope="col ">NIT</th>
                            <th scope="col ">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of clientes | objlist; let i = index " appHoverRow>
                            <th scope="row ">{{clientes[c].nombre}}</th>
                            <td>{{clientes[c].apellido}}</td>
                            <td>{{clientes[c].telefono | phone}}</td>
                            <td>{{clientes[c].correo}}</td>
                            <td>{{clientes[c].nit | nit}}</td>
                            <td>
                                <button type="button " [routerLink]="['/mi-tienda/clientes/mostrar',clientes[c].id]" class="btn btn-outline-success me-md-2">
                              <i class="fa-solid fa-user-pen "></i>
                            </button>
                                <button type="button " class="btn btn-outline-danger " (click)="setClientInfo(clientes[c], i)" data-bs-toggle="modal" data-bs-target="#confirmModal">
                              <i class="fa-solid fa-trash-can"></i>
                            </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Eliminar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Está a punto de eliminar al cliente {{cliente.nombre}} {{cliente.apellido}}
                    <br>
                    <br> ¿Seguro que desea continuar?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteCliente()">Sí, Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
